<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('navbar.ejs') %>
    <div class="white-bg">
        <% for(let i=0;i<list.length;i++) { %>
            <div class="list-box">
                <a href="/detail/<%=list[i]._id%>">
                    <h4><%=list[i].title%></h4>
                </a>
            </div>
        <% } %>
        <button id="writeBtn">글쓰기</button>
    </div> 

    <script>
        document.getElementById('writeBtn').addEventListener('click', function() {
            window.location.href = '/write';
        });
    </script>

</body>
</html>