<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
  <!-- action='<url>' -->
  <%- include('navbar.ejs') %>
  <div class="detail-bg">
      <h4>마이페이지</h4>
      <p><%=id%></p>
  </div> 
  <button id="modifyBtn">수정하기</button>
  <button id="deleteBtn">탈퇴하기</button>
  <script>
  </script>

</body>
</html>