<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
  <!-- action='<url>' -->
    <%- include('navbar.ejs') %>
    <form class="form-box" action="/sign-in" method="POST">
    <h4>로그인</h4>
    <!-- 서버로 보내려면 name='' 작명 -->
    <p>아이디</p>
    <input name="username">
    <p>비밀번호</p>
    <input name="password">
    <p>비밀번호 확인</p>
    <input name="passwordCheck">    
      <button type="submit">전송</button>
  </form> 
</body>
</html>